<template src='./Career.html'></template>
<style src='./Career.css'></style>
<script>

export default {
    data: function() {
        return {
            jobs: {
                lisd: {
                    company: 'Lewisville ISD',
                    title: 'Senior Web Developer',
                    startDate: 'June 2015',
                    endDate: 'Present',
                    responsibilities: [
                        'Develop new applications for the needs of the district',
                        'Maintain and support legacy applications',
                        'Rebuild legacy applications to fit district standards',
                        'Use 3rd Party APIs to feed data from the District to other applications',
                        'Help implement a District standard for coding by using relative material (i.e. PSR-2, W3C Standards)'
                    ]
                },
                army: {
                    company: 'U.S. Army Reserves',
                    title: 'IT Specialist Sergeant',
                    startDate: 'July 2011',
                    endDate: 'July 2017',
                    responsibilities: [
                        'Secure IT assets to protect information for the mission',
                        `Support customer's needs within bounds of Army IT regulation`,
                        `Configure User's computer accounts`,
                        `Install/Configure Computer systems for over 3000 users`,
                        `Configure/Maintain networking equipment(i.e. Routers, Switches, etc)`,

                    ]
                },
                gs: {
                    company: 'Geek Squad',
                    title: 'Advanced Repair Agent',
                    startDate: 'June 2012',
                    endDate: 'May 2014',
                    responsibilities: [
                        'Repair/Replace Hardware components in Stationary and Mobile Computing Devices',
                        'Install and Configure Drivers to work with Hardware Components',
                        'Configure host systems to function with web and network enable applications',
                        'Removed and repair damage from malicious software attacks (i.e. Viruses, Trojan Hourses, etc.) using Geek Squads MRI or Manually removing malicious files',
                        'Data Recovery from corrupted files or failed/failing Hard Disk Drive using the Greek Squad MULE',
                        'Trained in Customer Service Practies',
                        'Support Windows XP/Vista/7/8/8.1/10, Mac OS Maverick, iOS 7 and later, Android Gingerbread and later'
                    ]
                }
            }
        }
    }
}

</script>