<div class='main container'>
    <img src='/images/profilePhoto.jpg' class='ui small centered circular image' /> 
    <div class='divider'></div>
    <h1 class='ui centered header'>W. Logan McCourry</h1>
    <div class='ui divider'></div>
    <p>Phone: <strong>(469) 733-0646</strong></p>
    <p>Email: <strong>logan.mccourry@live.com</strong></p>
    <p>Address: <strong>Crossroads, TX</strong></p>
    <div id='social media'>
        <a target='_blank' href='https://www.linkedin.com/in/logan-mccourry-b195a0b5/' class='linkedin'><i class='linkedin big square icon'></i></a>
        <a target='_blank' href='https://gitlab.com/Systemdude92' class='gitlab'><i class='gitlab big square icon'></i></a>
        <a target='_blank' href='https://www.facebook.com/snuggles5769' class='facebook'><i class='facebook big square icon'></i></a>
    </div>
</div>