<template src='./ResumeComponent.html'></template>
<style scoped src='./ResumeComponent.css'></style>

<script>


import career from './Career/Career.vue';
import education from './Education/Education.vue';
import program from './Program/Program.vue';

export default {
    data: function() {
        return {}
    },
    components: {
        'program-component': program,
        'career-component': career,
        'education-component': education
    }
}

</script>