<div class='ui raised segment'>
    <h1 class='ui header'>Education:</h1>
    <div class='ui segment' v-for='edu in schools'>
        <h4 class='ui header'>{{edu.name}}<span style='float: right'>{{edu.startDate}} - {{edu.endDate}}</span></h4>
        <div class='content'>
            <p>{{edu.degree}} - {{edu.focus}}</p>
            <p>{{edu.description}}</p>
        </div>
    </div>
</div>